doctype html
html
  head
    title 402 Payment Required
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 402 Payment Required
    hr
    #ticket
      p#ticket-date
        b Date:     
        span #{new Date(envelope.object.date).toUTCString()}
      p#ticket-id
        b ID:       
        span #{envelope.id}
      if envelope.object.payment
        p#ticket-object-payment-address
          b Address:  
          span #{envelope.object.payment.address}
        if envelope.object.payment.network === 'Bitcoin'
          p#ticket-object-payment-amount
            b Amount:   
            span #{envelope.object.payment.amount / 100000000} BTC
        else if envelope.object.payment.network === 'Ripple'
          p#ticket-object-payment-amount
            b Amount:   
            span #{envelope.object.payment.amount / 1000000} XRP
      p#ticket-object-content-digest
        b Digest:   
        span #{envelope.object.content.digestAlgorithm}:#{envelope.object.content.digest}
      p#ticket-object-content-uri
        b URI:      
        span
          a(href='#{envelope.object.content.uri}') #{envelope.object.content.uri}
      p#ticket-validity
        b Validity: 
        span #{envelope.object.validity} seconds
    hr
